
@import "./mybootstrap.less";

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #363636;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-container {
    @app-width: 960px;
    @app-height: 540px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    background-color: #464545;
    width: @app-width;
    height: @app-height;

    @top-height: 45px;
    @bottom-height: 70px;
    @right-width: 350px;

    .top-area {
        position: absolute;
        width: @app-width;
        height: @top-height;
        top: 0px;
        left: 0px;
    }
    .left-area {
        position: absolute;
        width: @app-width - @right-width;
        height: @app-height - @top-height - @bottom-height;
        top: @top-height;
        left: 0px;
    }
    .right-area {
        position: absolute;
        width: @right-width;
        height: @app-height - @top-height - @bottom-height;
        top: @top-height;
        left: @app-width - @right-width;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .bottom-area {
        position: absolute;
        width: @app-width;
        height: @bottom-height;
        top: @app-height - @bottom-height;
        left: 0px;
    }
}


